Treball Data Science: Kiran Dhillon, Sergi Moros, Sara Requena, Julià Mestieri

Dataset: https://www.kaggle.com/unsdsn/world-happiness

## Descripción del negocio o dominio

 - Definición de los objetivos del proyecto y compresión de los requerimientos. Se trata de definir el problema al que nos enfrentamos

## Load libraries and data

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import pycountry

In [2]:
years = [2015, 2016, 2017, 2018, 2019]
ds_15 = pd.read_csv('data/2015.csv').drop(['Standard Error'],axis=1)
ds_15.rename(columns={"Happiness Rank": "Rank","Happiness Score":"Score","Economy (GDP per Capita)":"GDP","Family":"Social support","Health (Life Expectancy)":"Healthy","Trust (Government Corruption)":"Trust"},inplace=True)  
ds_15.insert(0, "Year", 2015)
ds_15['Rounded Score'] = ds_15['Score'].round(0)

ds_16 = pd.read_csv('data/2016.csv').drop(['Lower Confidence Interval','Upper Confidence Interval'],axis=1)
ds_16.rename(columns={"Happiness Rank": "Rank","Happiness Score":"Score","Economy (GDP per Capita)":"GDP","Family":"Social support","Health (Life Expectancy)":"Healthy","Trust (Government Corruption)":"Trust"},inplace=True) 
ds_16.insert(0, "Year", 2016)
ds_16['Rounded Score'] = ds_16['Score'].round(0)

ds_17 = pd.read_csv('data/2017.csv').drop(['Whisker.high','Whisker.low'],axis=1)
ds_17.rename(columns={"Happiness.Rank": "Rank","Happiness.Score":"Score","Economy..GDP.per.Capita.":"GDP","Family":"Social support","Health..Life.Expectancy.":"Healthy","Trust..Government.Corruption.":"Trust","Dystopia.Residual":"Dystopia Residual"},inplace=True) 
ds_17.insert(0, "Year", 2017)
ds_17 = ds_17.join(ds_15.set_index('Country')['Region'], on='Country')
ds_17['Rounded Score'] = ds_17['Score'].round(0)

ds_18 = pd.read_csv('data/2018.csv')
ds_18.rename(columns={"Country or region": "Country", "Overall rank": "Rank","Score":"Score","GDP per capita":"GDP","Healthy life expectancy":"Healthy","Freedom to make life choices":"Freedom","Perceptions of corruption":"Trust"},inplace=True)
ds_18.insert(0, "Year", 2018)
ds_18 = ds_18.join(ds_15.set_index('Country')['Region'], on='Country')
ds_18['Rounded Score'] = ds_18['Score'].round(0)

ds_19 = pd.read_csv('data/2019.csv')
ds_19.rename(columns={"Country or region": "Country", "Overall rank": "Rank","GDP per capita":"GDP","Healthy life expectancy":"Healthy","Freedom to make life choices":"Freedom","Perceptions of corruption":"Trust"},inplace=True)
ds_19.insert(0, "Year", 2019)
ds_19 = ds_19.join(ds_15.set_index('Country')['Region'], on='Country')
ds_19['Rounded Score'] = ds_19['Score'].round(0)

df = pd.concat([ds_15, ds_16, ds_17, ds_18, ds_19], sort=True, ignore_index=True)

df

,Country,Dystopia Residual,Freedom,GDP,Generosity,Healthy,Rank,Region,Rounded Score,Score,Social support,Trust,Year
0,Switzerland,2.51738,0.66557,1.39651,0.29678,0.94143,1,Western Europe,8.0,7.587,1.34951,0.41978,2015
1,Iceland,2.70201,0.62877,1.30232,0.43630,0.94784,2,Western Europe,8.0,7.561,1.40223,0.14145,2015
2,Denmark,2.49204,0.64938,1.32548,0.34139,0.87464,3,Western Europe,8.0,7.527,1.36058,0.48357,2015
3,Norway,2.46531,0.66973,1.45900,0.34699,0.88521,4,Western Europe,8.0,7.522,1.33095,0.36503,2015
4,Canada,2.45176,0.63297,1.32629,0.45811,0.90563,5,North America,7.0,7.427,1.32261,0.32957,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,Rwanda,NaN,0.55500,0.35900,0.21700,0.61400,152,Sub-Saharan Africa,3.0,3.334,0.71100,0.41100,2019
778,Tanzania,NaN,0.41700,0.47600,0.27600,0.49900,153,Sub-Saharan Africa,3.0,3.231,0.88500,0.14700,2019
779,Afghanistan,NaN,0.00000,0.35000,0.15800,0.36100,154,Southern Asia,3.0,3.203,0.51700,0.02500,2019
780,Central African Republic,NaN,0.22500,0.02600,0.23500,0.10500,155,Sub-Saharan Africa,3.0,3.083,0.00000,0.03500,2019
781,South Sudan,NaN,0.01000,0.30600,0.20200,0.29500,156,NaN,3.0,2.853,0.57500,0.09100,2019

In [3]:
""" Adding external data. """
edf = pd.read_csv('data/wdidata.csv')

In [4]:
df['Mujeres trab.agricultura'] = np.nan
df['GDP por trabajador'] = np.nan
df['Participación lab.1524'] = np.nan
df['Mujeres trab.servicios'] = np.nan
df['Mujeres desempleadas'] = np.nan
df['Hombres mas 80'] = np.nan
df['Trasporte aereo'] = np.nan
df['Mujeres desempleadas.1524'] = np.nan
df['Ratio dif empleo genero'] = np.nan
df['Refugiados'] = np.nan

for index, row in df.iterrows():
    country_name = row['Country']
    year = row['Year']
    if year in years:
        mujeres_campo = edf.loc[(edf['Country Name'] == country_name) & (edf['Indicator Code'] == 'SL.AGR.EMPL.FE.ZS')][str(year)]
        if mujeres_campo.values.size > 0:
            df.at[index, 'Mujeres trab.agricultura'] = mujeres_campo.values[0]
        gdp_por_trab = edf.loc[(edf['Country Name'] == country_name) & (edf['Indicator Code'] == 'SL.GDP.PCAP.EM.KD')][str(year)]
        if gdp_por_trab.values.size > 0:
            df.at[index, 'GDP por trabajador'] = gdp_por_trab.values[0]
        participacion = edf.loc[(edf['Country Name'] == country_name) & (edf['Indicator Code'] == 'SL.TLF.ACTI.1524.FE.ZS')][str(year)]
        if participacion.values.size > 0:
            df.at[index, 'Participación lab.1524'] = participacion.values[0]
        muj_trab_ser = edf.loc[(edf['Country Name'] == country_name) & (edf['Indicator Code'] == 'SL.SRV.EMPL.FE.ZS')][str(year)]
        if muj_trab_ser.values.size > 0:
            df.at[index, 'Mujeres trab.servicios'] = muj_trab_ser.values[0]
        muj_des = edf.loc[(edf['Country Name'] == country_name) & (edf['Indicator Code'] == 'SL.UEM.TOTL.FE.ZS')][str(year)]
        if muj_des.values.size > 0:
            df.at[index, 'Mujeres desempleadas'] = muj_des.values[0]
        hom_up_80 = edf.loc[(edf['Country Name'] == country_name) & (edf['Indicator Code'] == 'SP.POP.80UP.MA.5Y')][str(year)]
        if hom_up_80.values.size > 0:
            df.at[index, 'Hombres mas 80'] = hom_up_80.values[0]
        trans_aereo = edf.loc[(edf['Country Name'] == country_name) & (edf['Indicator Code'] == 'IS.AIR.DPRT')][str(year)]
        if trans_aereo.values.size > 0:
            df.at[index, 'Transporte aereo'] = trans_aereo.values[0]
        muj_desem = edf.loc[(edf['Country Name'] == country_name) & (edf['Indicator Code'] == 'SL.UEM.1524.FE.ZS')][str(year)]
        if muj_desem.values.size > 0:
            df.at[index, 'Mujeres desempleadas.1524'] = muj_desem.values[0]
        diff_gen = edf.loc[(edf['Country Name'] == country_name) & (edf['Indicator Code'] == 'SL.TLF.CACT.FM.ZS')][str(year)]
        if diff_gen.values.size > 0:
            df.at[index, 'Ratio dif empleo genero'] = diff_gen.values[0]
        refug = edf.loc[(edf['Country Name'] == country_name) & (edf['Indicator Code'] == 'SM.POP.REFG.OR')][str(year)]
        if refug.values.size > 0:
            df.at[index, 'Refugiados'] = refug.values[0]

df

,Country,Dystopia Residual,Freedom,GDP,Generosity,Healthy,Rank,Region,Rounded Score,Score,...,GDP por trabajador,Participación lab.1524,Mujeres trab.servicios,Mujeres desempleadas,Hombres mas 80,Trasporte aereo,Mujeres desempleadas.1524,Ratio dif empleo genero,Refugiados,Transporte aereo
0,Switzerland,2.51738,0.66557,1.39651,0.29678,0.94143,1,Western Europe,8.0,7.587,...,103602.585938,68.313004,87.030998,4.912,3.705261,NaN,8.390000,84.080678,17.0,250094.0
1,Iceland,2.70201,0.62877,1.30232,0.43630,0.94784,2,Western Europe,8.0,7.561,...,75040.609375,81.785004,91.330002,4.051,3.029846,NaN,6.638000,90.302418,NaN,35558.0
2,Denmark,2.49204,0.64938,1.32548,0.34139,0.87464,3,Western Europe,8.0,7.527,...,94613.531250,62.389999,89.277000,6.444,3.218882,NaN,10.027000,86.857312,9.0,NaN
3,Norway,2.46531,0.66973,1.45900,0.34699,0.88521,4,Western Europe,8.0,7.522,...,125677.398438,56.618000,91.870003,3.999,3.129684,NaN,8.565000,89.632442,12.0,NaN
4,Canada,2.45176,0.63297,1.32629,0.45811,0.90563,5,North America,7.0,7.427,...,84005.359375,64.448997,90.433998,6.285,3.270799,NaN,11.228000,86.295118,80.0,1322033.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,Rwanda,NaN,0.55500,0.35900,0.21700,0.61400,152,Sub-Saharan Africa,3.0,3.334,...,4223.943848,63.733002,25.662001,1.070,NaN,NaN,2.157000,100.684972,NaN,NaN
778,Tanzania,NaN,0.41700,0.47600,0.27600,0.49900,153,Sub-Saharan Africa,3.0,3.231,...,6497.994141,69.106003,29.461000,2.462,NaN,NaN,4.179000,91.100099,NaN,NaN
779,Afghanistan,NaN,0.00000,0.35000,0.15800,0.36100,154,Southern Asia,3.0,3.203,...,6984.897949,20.403999,10.079000,14.004,NaN,NaN,21.191999,28.925233,NaN,NaN
780,Central African Republic,NaN,0.22500,0.02600,0.23500,0.10500,155,Sub-Saharan Africa,3.0,3.083,...,2048.333984,52.889000,15.996000,3.565,NaN,NaN,5.387000,80.776175,NaN,NaN
781,South Sudan,NaN,0.01000,0.30600,0.20200,0.29500,156,NaN,3.0,2.853,...,4464.730957,63.477001,18.926001,13.406,NaN,NaN,17.408001,96.107431,NaN,NaN

## EDA: Estudio y Visualización de los datos

 - Recopilación inici
 al de datos para familiarizarse. Identificación de los problemas debidos a la calidad de los datos
 - Recopilar más datos: número de ejemplos de entrenamiento o nuevas fuentes de datos
 - Visualización de datos
 - Histograma
 - Distribución de los datos (normal, uniforme…)
 - Diagramas de caja o Box Plot
 - Diagrama de dispersión (scatterplot)

In [ ]:
# https://towardsdatascience.com/visualizing-data-with-pair-plots-in-python-f228cf529166
sns.pairplot(df, diag_kind='hist', hue='Rounded Score', vars=['Score','Dystopia Residual','Freedom','GDP','Healthy','Generosity','Rank','Social support','Trust'])

In [ ]:
sns.pairplot(df)

In [ ]:
sns.pairplot(df, diag_kind='hist', vars=['Score','Refugiados','Ratio dif empleo genero','Mujeres desempleadas.1524','Trasporte aereo','Hombres mas 80','Mujeres desempleadas','Mujeres trab.servicios', 'Participación lab.1524','GDP por trabajador', 'Mujeres trab.agricultura'])

In [ ]:
ds_19.hist(column='Score')

In [ ]:
ds_19.drop(columns=['Overall rank', 'Score']).boxplot()

In [ ]:
ds_19.boxplot('Score')

In [ ]:
# Correlation https://towardsdatascience.com/exploratory-data-analysis-eda-visualization-using-pandas-ca5a04271607
df.corr()

In [ ]:
f,ax=plt.subplots(figsize=(10,10))
cor = df.corr() 
sns.heatmap(cor)

In [ ]:
df.describe()

In [ ]:
df.groupby(by='Year')['Score'].describe()

In [ ]:
sns.boxplot(x="Year", y="Rounded Score", hue="Region", data=df)

In [ ]:
sns.stripplot(x="Region", y="Rank", data=df)
plt.xticks(rotation=45)

In [ ]:
sns.boxplot(x="Year", y="Rank", hue="Region", data=df)

In [ ]:
df.plot(kind='scatter', x='Rank', y='Trust',color = 'green')
df.plot(kind='scatter', x='GDP', y='Healthy',color = 'purple')

In [ ]:
df.hist(column='Score')

In [ ]:
f,ax = plt.subplots(figsize =(10,10))
sns.countplot(df.Region)
plt.xticks(rotation= 45)

## Preparación de los datos
 - Selección de tablas, de las instancias y atributos. Transformación limpieza de los datos
 - Selección de características: reducir el número de atributos o añadir nuevos atributos
 - Resumen de características/atributos
 - Valores numéricos o nominales
 - Numéricos: Medias, mínimos, máximos,  desviación
 - Nominales: valores permitidos
 - Detección de datos erróneos
 - Análisis de valores atípicos (outliers)
 - Estrategia a seguir con los datos faltantes: Eliminar, inferir…
 - Selección de variables relevantes: Reducción de la dimensionalidad,Construcción de atributos

## Modelado
 - Selección y aplicación de las técnicas de modelado más apropiadas
 - Calibración de los parámetros
 - Determinar el tipo de tarea: Clasificación, regresión, agrupamiento,…
 - Elegir el tipo de modelo: Árboles de decisión, regresión logística, SVM,…
 - Elegir el algoritmo: CART o C5.0
 - Añadir una introducción teórica del modelo utilizado (búsqueda bibliográfica) y los parámetros que dispone

## Evaluación
 - Evaluación de los resultados contrastados con los objetivos de negocio
 - Revisar tema de evaluación de modelos
 - Métricas
 - Costes

## Despliegue
 - Despliegue del modelo obtenido
 - ¿Cómo lo vais a utilizar una vez creado)